POSITIONSTACK_API_KEY=
OPENROUTESERVICE_API_KEY=
RAPIDAPI_KEY=
RAPIDAPI_SERP_HOST=google-serp-search-api.p.rapidapi.com
RAPIDAPI_GOOGLE_MAPS_HOST=google-maps-extractor2.p.rapidapi.com
RAPIDAPI_GOOGLE_PLACES_HOST=google-map-places-new-v2.p.rapidapi.com
GOOGLE_SHEETS_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_SERVICE_ACCOUNT_JSON=
SYNC_FULL_DATA_TO_SHEETS=false
GEMINI_API_KEY=
AI_PROVIDER=gemini
GEMINI_MODEL=gemini-2.5-flash
